.CreatePostCard {
  border-radius: 4px;
  border: 1px solid #DEDFE2;
  width: 100%;
}

.createPostTitle {
  color: #4b4f56;
  font-size: 13.2px;
  font-weight: 550;
  padding: 1.5% 2% 1.5% 2%;
  background-color: #f5f6f7;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.createPostDivider {
  margin: 0px;
}

.whatsOnYourMind {
  padding: 0% 2% 0% 2%;
}

.whatsOnYourMindInput {
  padding: 2% 0% 4% 0%;
}

.whatsOnYourMindPic {
  border-radius: 50%;
  width: 100%;
  max-width: 45px;
}

.whatsOnYourMindInputText {
  border: none;
}

.whatsOnYourMindInputText:focus {
  outline: none;
  box-shadow: none;
}

.whatsOnYourMindDivider {
  margin: 0px;
}

.whatsOnYourMindButtons {
  padding: 1.5% 0% 1.5% 0%;
}

.createPostButtons {
  border: none;
  background-color: #f5f6f7;
  border-radius: 15px;
  margin-right: 1.5%;
  font-weight: 550;
  padding-left: 10px;
}

.feedOrStory {
  background-color: #F5F6F7;
  padding: 5px;
  color: black;
  font-size: 14px;
  font-weight: 600;
  margin-top: -1px;
}

.feedOrStoryMain {
  padding: 1.2% 0;
}

.feedStoryRadio {
  margin-left: 3%;
  margin-right: 2%;
}

.feedStoryIcon {
  border-radius: 50%;
  border: solid 1px rgba(0, 0, 0, .1);
  margin-right: 2.2%;
}

.friendButtons {
  border: 1px solid;
  border-radius: 2px;
  box-sizing: content-box;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f6f7;
  border-color: #ccd0d5;
  color: #4b4f56;
  margin-right: 13%;
  margin-top: 12%;
}

.postButtonRow {
  background-color: #F5F6F7;
  padding: 0 12px 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.postButton {
  font-size: 14px;
  font-weight: bold;
  box-sizing: border-box;
  box-shadow: none;
  height: 32px;
  width: 100%;
  border: 1px solid;
  border-radius: 2px;
  background-color: #4267b2;
  border-color: #4267b2;
}

.postButton:hover {
  background-color: #36599A;
  border-color: #36599A;
}

.postButton:focus {
  background-color: #36599A;
  border-color: #36599A;
}