.CreatePostCard {
  margin: 0% 2% 2% 2%;
  border-radius: 4px;
  border: 1px solid #DEDFE2;
  /* width: 100%; */
  max-width: 530px;
}

.createPostTitle {
  color: #4b4f56;
  font-size: 13.2px;
  font-weight: 550;
  padding: 1.5% 2% 1.5% 2%;
  background-color: #f5f6f7;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.createPostDivider {
  margin: 0px;
}

.whatsOnYourMind {
  padding: 0% 2% 0% 2%;
}

.whatsOnYourMind {
  padding: 0% 2% 0% 2%;
}

.whatsOnYourMindInput {
  padding: 2% 0% 4% 0%;
}

.whatsOnYourMindPic {
  border-radius: 50%;
  width: 100%;
  max-width: 45px;
}

.whatsOnYourMindInputText {
  border: none;
}

.whatsOnYourMindDivider {
  margin: 0px;
}

.whatsOnYourMindButtons {
  padding: 1.5% 0% 1.5% 0%;
}

.createPostButtons {
  border: none;
  background-color: #f5f6f7;
  border-radius: 15px;
  margin-right: 1.5%;
  font-weight: 550;
  padding-left: 10px;
}