.createAccount {
  background-image: linear-gradient(#FFFFFF, #D3D9E8);
}

.fbLoginText {
  color: #0e385f;
  font-size: 22px;
  font-weight: bold;
  margin-top: 40px;
  /* line-height: 20px; */
  width: 470px;
}

.createAccountHeader {
  color: #333;
  font-size: 38px;
  font-weight: 620;
  padding-top: 20px;
}

.createAccountText {
  color: #1d2129;
  font-size: 21px;
  padding-bottom: 20px;
}

.createAccountInput {
  height: 40px;
  border-radius: 5px;
  border-color: #bdc7d8;
  margin-bottom: 11px;
}

.createAccountInput::placeholder {
  font-size: 18px;
  color: #999999;
}

.createAccountBirthdayGender {
  color: #90949c;
  font-size: 16.5px;
  font-weight: bold;
}

.createAccountGenderRadio {
  color: #1d2129;
  font-size: 18px;
  font-weight: normal;
}