.createAccount {
  background-image: linear-gradient(#FFFFFF, #D3D9E8);
}

.fbLoginTextPic {
  padding-right: 1%;
}

.fbLoginText {
  color: #0e385f;
  font-size: 22px;
  font-weight: bold;
  margin-top: 40px;
  /* line-height: 20px; */
  width: 100%;
  max-width: 470px;
}

.fbCreateAccount {
  padding: 0px 0px 30px;
}

.createAccountHeader {
  color: #333;
  font-size: 38px;
  font-weight: 620;
  padding-top: 20px;
}

.createAccountText {
  color: #1d2129;
  font-size: 21px;
  padding-bottom: 20px;
}

.createAccountInput {
  height: 40px;
  border-radius: 5px;
  border-color: #bdc7d8;
  margin-bottom: 11px;
}

.createAccountInput::placeholder {
  font-size: 18px;
  color: #999999;
}

.reateAccountInput:hover {
  border-color: #bdc7d8;
  outline: none;
}

.createAccountBirthdayGender {
  color: #90949c;
  font-size: 16.5px;
  font-weight: bold;
}

.createAccountGenderRadio {
  color: #1d2129;
  font-size: 18px;
  font-weight: normal;
}

.termsPolicyText {
  color: #777;
  font-size: 12px;
  margin: 12px 0px;
  padding: 0 22% 0 0;
  line-height: 1.34;
}

.signUpButton {
  font-size: 19px;
  background: linear-gradient(#79bc64, #578843);
  font-weight: bold;
  width: 194px;
  height: 39px;
  border: 1px solid;
  border-radius: 5px;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
  box-shadow: inset 0 1px 1px #a4e388;
  border-color: #3b6e22 #3b6e22 #2c5115;
  margin: 11px 0px;
}

.signUpButton:hover {
  border-color: #3b6e22 #3b6e22 #2c5115;
  background: linear-gradient(#79bc64, #578843);
}

.signUpButton:focus {
  border-color: #3b6e22 #3b6e22 #2c5115;
  background: linear-gradient(#79bc64, #578843);
}

.celebrityPage {
  border-top: 1px solid #dddfe2;
  color: #666;
  font-size: 13px;
  font-weight: bold;
  margin-top: 10px;
  padding-top: 15px;
}

.createAPage {
  color: #385898;
  cursor: pointer;
  text-decoration: none;
}

.createAPage:hover {
  color: #385898;
  text-decoration: underline;
}