.friRequestCard {
  width: 320px;
  margin: 0% 0% 3% 0%;
  border-radius: 4px;
  border: 1px solid #DEDFE2;
}

.friRequestHeader {
  margin: 2% 3%;
}

.friendRequests {
  color: black;
  font-weight: 450;
}

.seeAll {
  color: #385999;
  font-weight: 450;
}