.Leftnavbar {
  background-color: #EAEBEE;
  width: 200px;
  border: none;
  margin-top: 1%;
}

.leftSideProfile {
  margin-bottom: 7%;
}

.ProfilePic {
  border-radius: 50%;
  width: 100%;
  max-width: 25px;
}

.NewsFeedBox {
  background-color: #f5f6f7;
  border-radius: 2px;
  border: 1px solid #DEDFE2;
}

.newsFeedText {
  font-weight: 550;
}

.newsFeedEllipse {
  margin-bottom: 15%;
}

.leftHeaderFont {
  font-size: 13.5px;
  font-weight: 550;
  color: #616770;
}

.notiNumberFont {
  font-size: 85%;
  color: grey;
}

.padding1p5 {
  padding: 1.5% 2.5% 1.5% 1.5%;
}

.marginTop-10 {
  margin-top: -10%;
}

.blackColor {
  color: black;
}