.Leftnavbar {
  background-color: #EAEBEE;
  width: 200px;
  border: none;
  margin-top: 1%;
}

.leftSideProfile {
  margin-bottom: 8%;
}

.ProfilePic {
  border-radius: 50%;
  width: 100%;
  max-width: 25px;
}

.marginBottom-3 {
  margin-bottom: 3%;
}

.marginTop-10 {
  margin-top: -10%;
}

.blackColor {
  color: black;
}