.fbNavBar {
  background-color: #4267B2;
  margin-bottom: 0.8%;
}

.fbLogo {
  margin: 1.5%;
}

.searchBar {
  width: 70%;
  margin: 1.5% 1.5% 1.5% 0%;
}

.navProfilePic {
  border-radius: 50%;
  margin-right: 12%;
}

.profilePicButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
  margin: 1.5% 0% 1.5% 0%;
}

.navTextButton {
  padding-right: 1%;
  margin: 1.5% 0% 1.5% 0%;
}

.textIconButtonMargin {
  padding-right: 3%;
}

.navIconButton {
  padding: 0% 1% 0% 0%;
  margin: 1% 0% 1.5% 0%;
}