.container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: -28px;
  left: 18px;
}

.mainProfilePic {
  width: 100%;
  max-width: 175px;
  padding: 4px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #DEDFE2;
}

.centered {
  position: absolute;
  bottom: -8px;
  left: 31.5%;
  transform: translate(-50%, -50%);
}

.mainProfileName {
  font-size: 170%;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.profileMenuBar {
  width: 861px;
  width: 100%;
  max-width: 861px;
  margin: -1.2% 0% 1.2% -0.4%;
  border-top: none;
}

.profileMenuBottons {
  height: 45px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: none;
  border-bottom: none;
}

.profileMenuBottonsText {
  color: #385999;
}