.profileMenuBar {
  width: 861px;
  width: 100%;
  /* max-width: 861px; */
  margin: -9.2px 0 10px 0;
  border-top: none;
  border-radius: 4px;
  border: 1px solid #DEDFE2;
  border-top: none;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: -28px;
  left: 18px;
}

.mainProfilePic {
  width: 100%;
  max-width: 175px;
  padding: 4px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #DEDFE2;
}

.centered {
  position: absolute;
  bottom: -8px;
  left: 31.5%;
  transform: translate(-50%, -50%);
}

.mainProfileName {
  font-size: 170%;
  color: white;
  text-shadow: 0 0 3px rgba(0, 0, 0, .8);
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.profileMenuBottons {
  height: 45px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: none;
  border-bottom: none;
}

.profileMenuBottonsText {
  color: #385999;
}