.friendList {
  margin: 3.5%;
}

.friendsPic {
  border-radius: 50%;
  width: 100%;
  max-width: 79px;
}

.friendTextAndButtons {
  padding-left: 4.5%;
}

.friendTitle {
  color: #385999;
  font-weight: bold;
  font-size: 110%;
}

.mutualFriends {
  color: #808080;
  font-size: 110%;
}

.confirmDeleteButtons {
  margin: 2% 2% 0 0;
  border: 1px solid;
  border-radius: 2px;
  box-sizing: content-box;
  box-shadow: none;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  background-color: #f5f6f7;
  border-color: #ccd0d5;
  color: #4b4f56;
  height: 24px;
}

.confirmDeleteButtons:hover {
  background-color: #f5f6f7;
  border-color: #ccd0d5;
  color: #4b4f56;
}

.confirmDeleteButtons:focus {
  background-color: #f5f6f7;
  border-color: #ccd0d5;
  color: #4b4f56;
}